{
    "plugins":[
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2, // corejs version number
                "regenerator": true
            }

        ]

    ]

}